<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="7vh" class="container">
    <h2 class="mat-display-3">Sign in</h2>
    <mat-card fxFlexFill class="form-container">
        <div class="form-container">
            <form [formGroup]="form" (submit)="logIn()">
                <div fxLayout="column" fxLayoutGap="5vh">
                    <mat-form-field>
                        <input matInput type="text" placeholder="nick" formControlName="nick">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="password" placeholder="password" formControlName="password">
                    </mat-form-field>
                    <div fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutGap="5vw">
                        <button mat-raised-button color="primary" type="submit" class="form-button" fxFlex>sign in</button>
                        <button mat-raised-button color="accent" type="button" class="form-button" fxFlex (click)="logInAsGuest()">sign in as guest</button>
                    </div>
                </div>
            </form>
        </div>
    </mat-card>
</div>
