@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~normalize.css/normalize.css';

body {
    font-family: 'Roboto', sans-serif;
}

.form-container {
    padding: 2vh 2vw;
}

.form-button {
    font-size: 1.2rem;
    padding: 5px;
}
