<div fxLayout="column" fxLayoutAlign="center center">
    <h2 fxFlex class="mat-display-3">Games</h2>
    <div fxFlexFill fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutAlign.xs="center stretch" fxLayoutAlign.gt-xs="center center">
        <a routerLink="dont-get-angry" mat-raised-button fxFlex fxFlex.gt-sm="20vw" class="button-link game">Don't get angry</a>
        <a routerLink="/game-rooms/chess" mat-raised-button fxFlex fxFlex.gt-sm="20vw" class="button-link game">Chess</a>
    </div>
</div>
